<p>&nbsp;</p>

<div class="main-div">
    
    <mat-card-title>
        Piadas sobre Chuck Norris
        <img [src]="joke.icon_url" alt="Selo de Aprovação Chuck Norris"
        class="selo" mat-card-avatar >
    </mat-card-title>
    <mat-card class="example-card">
        
        <mat-card-content>
            <p>
                {{joke.value}}
            </p>
        </mat-card-content>
        
        <mat-card-actions>    
            
            <div class="example-button-row nav-buttons">
                <div class="example-flex-container">
                  <div class="example-button-container">
             
                    <button mat-mini-flab color="primary" >
                        <mat-icon class="material-icons" (click)="onBack()" >chevron_left</mat-icon>
                    </button>
                    <button mat-mini-flab color="primary" >
                        <mat-icon class="material-icons" (click)="onNext()">chevron_right</mat-icon>
                    </button>
                    </div>
                </div>
            </div>

        </mat-card-actions>
        
    </mat-card>
    
    
    <p>
        Qtde de Letras -
        <label for="num">
            {{joke.value | countwords}}
        </label>
    </p>
    
</div>